/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Orbitron&family=Silkscreen&family=Zen+Dots&display=swap');

:root {
  /* Fonts */
  --heading-font: 'Silkscreen', cursive;
  --paragraph-font: 'Zen Dots', monospace;

  /* Colors */
  --black: #000000;
  --dark-blue: #3B1B72;
  --light-blue: #00FFFF;
  --pink: #FE00FE;
}

body {
    background-color: white;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--pink);
}

/* Top */

header {
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 150px auto 400px;
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 5;
}

.nav-blur {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 5;
}

nav {
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    height: 56px;
}

nav a {
    float: right;
    font-size: 0.8em;
    text-align: center;
    color: var(--pink);
    text-decoration: none;
    padding: 15px;
    transition: .4s;
    border-radius: 4px;
}

#logo_link {
    align-self: center;
}

.logo {
    width: 56px;
}

nav a:hover {
    /* background-color: var(--pink); */
    color: var(--light-blue);
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px auto 70px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -2;
}

.img-container {
    background-image: url(../images/bin_background.png);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.blur-container {
    height: 100%;
    backdrop-filter: blur(5px);
}

#hero-img {
    width: 100%;
}

#my-picture {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: -1;
}

#me {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin: 90% 0 0 0;
    /* background-color: rgba(0,0,0, 0.8); */
    backdrop-filter: blur(7px);
    border-radius: 4px;
    z-index: -1;
}

.home-title {
    margin: 0;
    font-size: 2.3em;
}

.home-subtitle {   
    margin: 0; 
}

/* Content */

#content {
    /* padding-top: 10px; */
    z-index: -1;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

/* .html-skill, .javascript-skill, .python-skill, .css-skill, .git-skill, .github-skill {
    width: 50px;
} */

#about-section {
    grid-column: 1/6;
    grid-row: 1/5;
}

.main-title {
    grid-column: 1/11;
    grid-row: 1/2;
    margin-top: 90px;
    margin-bottom: 30px;
}

#about-subtitle {
    grid-column: 1/6;
    grid-row: 2/3;
    color: var(--dark-blue);
}

#about-text {
    grid-column: 1/6;
    grid-row: 3/5;
}

section p:nth-of-type(1) {
    margin-top: 0;
}

#skills-title {
    grid-column: 7/9;
    grid-row: 2/3;
}

#skills-title h3 {
    color: var(--dark-blue);
}

.skill-image {
    width: 130px;
    transition: transform .4s;
}

.skill-image:hover {
    opacity: .6;
    transform: scale(1.08);
}

.html-skill {
    grid-column: 7/8;
    grid-row: 3/4;
}

.javascript-skill {
    grid-column: 8/9;
    grid-row: 3/4;
}

.python-skill {
    grid-column: 9/10;
    grid-row: 3/4;
}

.css-skill {
    grid-column: 10/11;
    grid-row: 3/4;
}

.git-skill {
    grid-column: 8/9;
    grid-row: 4/5;
}

.github-skill {
    grid-column: 9/10;
    grid-row: 4/5;
}

/* footer */

footer {
    background-color: var(--dark-blue);
    color: var(--pink);
    padding: 10px;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

footer div a {
    text-decoration: none;
}

footer a {
    color: #FE00FE;
    transition: .4s;
}

footer a:hover {
    /* background-color: var(--pink); */
    color: var(--light-blue);
}

footer p {
    font-size: 0.8em;
}

div a img {
    width: 50px;
}

/* PORTFOLIO */
.img-container-portfolio {
    background-image: url(../images/code-background.png);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.opacity {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    z-index: 0;
}

/* Content */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, auto);
    /* grid-gap: 20px; */
    padding-left: 35px;
    padding-right: 35px;
}

#portfolio-subtitle {
    grid-column: 1/12;
    grid-row: 2/3;
    color: var(--dark-blue);
}

#space {
    height: 30px;
    grid-column: 1/12;
    grid-row: 3/4;
}

.project-image {
    width: 100%;
    border-radius: 15px;
    display: block;
    /* border: 5px solid var(--dark-blue); */
}

#xtreme-rafting-project {
    position: relative;
    grid-column: 2/6;
    grid-row: 4/5;
}

#shopping-cart-project {
    position: relative;
    grid-column: 7/11;
    grid-row: 4/5;
}

#space-img {
    height: 30px;
    grid-column: 1/12;
    grid-row: 5/6;
}

#fantasy-project-1 {
    position: relative;
    grid-column: 2/6;
    grid-row: 6/7;
}

#fantasy-project-2 {
    position: relative;
    grid-column: 7/11;
    grid-row: 6/7;
}

.hover-project {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

#shopping-cart-project:hover .hover-project, #xtreme-rafting-project:hover .hover-project, #fantasy-project-1:hover .hover-project, #fantasy-project-2:hover .hover-project {
    height: 100%;
}

.link-button {
    align-self: auto;
    font-size: 0.8em;
    color: var(--pink);
}

.text {
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text a {
    color: var(--pink);
}

.text p {
    color: var(--light-blue);
}

/* CONTACT */
#content-contact {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: -1;
}

.contact-title {
    margin-top: 90px;
    margin-bottom: 30px;
}

.contact-subtitle {
    color: var(--dark-blue);
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

/* Form */
#form-container {
    grid-column: 1/4;
    grid-row: 1/3;
    border-radius: 5px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button[type=submit] {
    background-color: var(--pink);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #FE00FE;
    opacity: 0.6;
  }

/* Images */
.chat-img {
    width: 100%;
}

.basic-img {
    width: 100%;
    transition: transform .4s;
    cursor: pointer;
}

.basic-img:hover {
    opacity: .6;
    transform: scale(1.08);
}

#chat-image {
    display: flex;
    justify-self: center;
    grid-column: 4/7;
    grid-row: 1/3;
    width: 400px;
/*     margin-top: 40px;
    margin-bottom: 80px; */
    /* padding: 8%; */
}

#email-image {
    grid-column: 2/3;
    grid-row: 3/7;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 15%;
}

#github-image {
    grid-column: 3/4;
    grid-row: 3/7;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 15%;
}

#linkedin-image {
    grid-column: 4/5;
    grid-row: 3/7;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 15%;
}

#twitter-image {
    grid-column: 5/6;
    grid-row: 3/7;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 15%;
}

#contact-h {
    display: none;
}

@media screen and (max-width: 900px) {
    /* #hero, .home-grid {
        display: block;
        height: auto;
    } */
    .about-grid, .contact-grid, .portfolio-grid {
        display: block;
    }
    .html-skill, .javascript-skill, .python-skill, .css-skill, .git-skill, .github-skill {
        display:inline-flex;
        flex-direction: row;
        padding: 20px;
    }
    header {
        display: flex;
    }
    #logo-link{
        align-self: flex-start;
        height: 100%;
    }
    nav {
        width: 100%;
        flex-direction: row;
        align-items: center;
        height: auto;
        font-size: 0.8em;
    }
    nav a {
        /* display: block; */
        padding: 15px;
    }
    footer {
        margin-top: 25px;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .social a {
        padding: 5px;
        margin: 5px;
    }
    #xtreme-rafting-project, #shopping-cart-project, #fantasy-project-1, #fantasy-project-2 {
        margin: 10px;
    }
    #space, #space-img {
        height: 0;
    }
    .basic-img {
        width: 120px;
    }
    #email-image, #github-image, #linkedin-image, #twitter-image {
        margin: 0;
        padding: 20px;
        display: inline;
    }
    #contact-h{
        display: block;
        color: var(--dark-blue);
    }
}